html
{
  padding: 0;
  margin: 0;
}

body
{
  background-image: url('../img/fond.jpg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
}
 input{
   width: 100%;
   border: none;
   border-radius: 2px;
   padding: 1%;
   margin: 1%;
 }

a
{
    text-decoration: none;
    color: white;
}
.card-texte
{
  text-align: center;
  margin-top: 10%;
  margin-left: 10%;
  height: 80%;
  width: 80%;
  color: white;
}

.affichageChat {
    resize: none;
}
